# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# Virtual env
.venv/
venv/
env/

# Build
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
.pytest_cache/
**/__pycache__/
.coverage
htmlcov/
.ruff_cache/
